{% extends "base.html" %}

{% block content %}

    <!-- Hero Section -->
    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <h2>Our Team</h2>
          <p>Meet our dedicated team behind our goal to revolutionize education</p>
        </div>
        <div class="main__img--container">
          <img id="main__img" src="{{url_for('static',filename='images/learn.svg')}}" />
        </div>
      </div>
    </div>

    <!-- Services Section -->
    <div id="services" class="services">

      <div class="services__container">
        <div class="business__services__card">
          <h2>Abhiraj Tiwari</h2>
          <h3>Project Lead & Website Team </h3>
          <p>Abhiraj is a freshman at Thomas Jefferson High School. </p>
        </div>
        <div class="business__services__card">
          <h2>Aarya Srikanth</h2>
          <h3>Website Team</h3>
          <p>Aarya is a freshman at Thomas Jefferson High School. </p>
        </div>
        <div class="business__services__card">
          <h2>Armaan Ahmed</h2>
          <h3>Website Team</h3>
          <p>Armaan is a freshman at Thomas Jefferson High School. </p>
        </div>
        <div class="business__services__card">
          <h2>Kavin Narayanan</h2>
          <h3>Website Team</h3>
          <p>Kavin is a freshman at Thomas Jefferson High School. </p>
        </div>
        <div class="business__services__card">
          <h2>Anay Bansal</h2>
          <h3>Content Lead</h3>
          <p>Anay is a freshman at Westfield High School.</p>
        </div>
        <div class="business__services__card">
          <h2>Chandresh Duraisamy</h2>
          <h3>Content Team</h3>
          <p>Chandresh is a freshman at Westfield High School. </p>
        </div>
        <div class="business__services__card">
          <h2>Aditya Pujari</h2>
          <h3>Content Team</h3>
          <p>Aditya is a freshman at Thomas Jefferson High School. </p>
        </div>
        <div class="business__services__card">
          <h2>Sahil Kapadia</h2>
          <h3>Database Lead</h3>
          <p>Sahil is a junior at Thomas Jefferson High School. </p>
        </div>
        <div class="business__services__card__leddo">
          <h2>Dr. John Leddo</h2>
          <h3>Mentor & Supervisor</h3>
          <p>MyEdMaster</p>
        </div>
      </div>
    </div>

{% endblock %}
